<h4 class="text-center">Login</h4>
<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">
    <div class="form-group">
        <input  #inputUserName formControlName="userName" class="form-control" placeholder="user name" autofocus>
        <pj-vmessage *ngIf="loginForm.get('userName').errors?.required" 
            text="User name is required!"></pj-vmessage>
    </div>
    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="password">
        <pj-vmessage *ngIf="loginForm.get('password').errors?.required" 
        text="Password is required!"></pj-vmessage>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">login</button>
</form>
<p>Not user?<a [routerLink]="['signup']">Register Now</a></p>