.photo {
    border-radius: 5em;
    box-shadow: 10px 20px 1rem;
}
.photo:hover {
    animation: aumenta 2s;
}
@keyframes aumenta{
    0% {
        transform: scale(1.5);
    } 100% {
        transfom: scale(1);
    }
}

